{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">
                        General
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="chat-container">
                <div class="messages-section">
                    <div class="messages-container">
                    </div>
                </div>
                <div class="actions-section">
                    <div class="actions-container">
                        <form>
                            <div>
                                <input type="text" class="form-control" placeholder="Write your message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}