<div class="chat-container">
    <div class="messages-section">
        <div class="messages-container padding" scroll-glue>
            <div ng-repeat="msg in chat.messages track by $index">
                <div class="talk-bubble" ng-class="{'right': chat.user.username == msg.username, 'left': chat.user.username != msg.username}">
                    <div class="talktext">
                        <strong>[[ msg.username ]]</strong>
                        <p>
                            [[ msg.body ]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions-section padding">
        <div class="actions-container">
            <form ng-submit="chat.sendMessage()">
                <div>
                    <input type="text" class="form-control" placeholder="Write your message" ng-model="chat.message">
                </div>
            </form>
        </div>
    </div>
</div>