<div class="chat-container">
    <div class="messages-section">
        <div class="messages-container padding">
            <div>
                <pre>[[ chat.channel|json ]]</pre>
            </div>
            <div ng-repeat="msg in chat.messages track by $index">
                <div class="talk-bubble left">
                    <div class="talktext">
                        <p>
                            [[ msg ]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions-section padding">
        <div class="actions-container">
            <form ng-submit="chat.sendMessage()">
                <div>
                    <input type="text" class="form-control" placeholder="Write your message" ng-model="chat.message">
                </div>
            </form>
        </div>
    </div>
</div>