parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ws_xample
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    fos_mailer_user:   'noreply@wsxample.dev'

    secret:            54ac9c5bd639f6ab0f65b167c2d7611f7d3503cb